.App {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
	margin: auto;
	scroll-snap-type: y mandatory;
}

.CardStack {
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	-khtml-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
}

.Category {
	text-decoration: underline;
	text-transform: uppercase;
	position: relative;
	display: block;
	margin-left: 20px;
	border-radius: 3px;
	margin-bottom: 20px;
	font-weight: 600;
	z-index: 1;
}

@media (max-width: 600px) {
	.App {
		width: 100%;
	}
}
